In [8]:
%matplotlib inline
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

In [21]:
# Read the csv file into a pandas DataFrame

ACS_df = pd.read_csv('CensusACSData.csv', encoding="latin1")
ACS_df.head()

,GIDSTCO,Geog_Level,State,State_name,County,County_name,LAND_AREA,URBANIZED_AREA_POP_CEN_2010,URBAN_CLUSTER_POP_CEN_2010,RURAL_POP_CEN_2010,...,pct_HHD_NoCompDevic_ACS_14_18,pct_HHD_NoCompDevic_ACSMOE_14_18,pct_HHD_w_Computer_ACS_14_18,pct_HHD_w_Computer_ACSMOE_14_18,pct_HHD_w_OnlySPhne_ACS_14_18,pct_HHD_w_OnlySPhne_ACSMOE_14_18,pct_HHD_No_Internet_ACS_14_18,pct_HHD_No_Internet_ACSMOE_14_18,pct_HHD_w_Broadband_ACS_14_18,pct_HHD_w_Broadband_ACSMOE_14_18
0,36061,County,36,New York,61,New York County,22.836,1585873,0,0,...,9.86,0.28,83.05,0.41,3.63,0.18,13.17,0.35,76.03,0.51
1,36047,County,36,New York,47,Kings County,70.823,2504663,0,37,...,14.20,0.22,75.85,0.31,5.00,0.17,19.27,0.27,69.17,0.35
2,36005,County,36,New York,5,Bronx County,42.094,1385069,0,39,...,15.74,0.34,65.33,0.48,9.76,0.31,22.32,0.42,61.99,0.46
3,36081,County,36,New York,81,Queens County,108.510,2230722,0,0,...,11.20,0.24,78.60,0.40,5.72,0.25,15.59,0.28,72.51,0.42
4,6075,County,6,California,75,San Francisco County,46.883,805235,0,0,...,8.08,0.32,85.85,0.50,3.10,0.25,11.26,0.39,78.35,0.54

In [26]:
# Read the csv file into a pandas DataFrame

Traindata_df = pd.read_csv('StateTrainingData1.csv')
Traindata_df.head()

,State,Abbr,County Name,"Violent Crime Per 100,000",Unnamed: 4,Unnamed: 5,Unnamed: 6
0,illinois,IL,Calhoun,NaN,NaN,NaN,0.0
1,illinois,IL,Edwards,NaN,NaN,NaN,0.0
2,illinois,IL,Henderson,NaN,NaN,NaN,0.0
3,illinois,IL,Jasper,NaN,NaN,NaN,0.0
4,illinois,IL,Moultrie,NaN,NaN,NaN,0.0

In [22]:
merged_df = pd.concat([ACS_df, Traindata_df ], verify_integrity=False)
merged_df

C:\Users\arkha\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  """Entry point for launching an IPython kernel.

,Population Density (P/sqMi),Abbr,Age5p_Arabic_ACSMOE_14_18,Age5p_Arabic_ACS_14_18,Age5p_Chinese_ACSMOE_14_18,Age5p_Chinese_ACS_14_18,Age5p_French_ACSMOE_14_18,Age5p_French_ACS_14_18,Age5p_German_ACSMOE_14_18,Age5p_German_ACS_14_18,...,pct_Tot_Occp_Units_CEN_2010,pct_TwoPHealthIns_ACSMOE_14_18,pct_TwoPHealthIns_ACS_14_18,pct_URBANIZED_AREA_POP_CEN_2010,pct_URBAN_CLUSTER_POP_CEN_2010,pct_US_Cit_Nat_ACSMOE_14_18,pct_US_Cit_Nat_ACS_14_18,pct_Vacant_Units_ACSMOE_14_18,pct_Vacant_Units_ACS_14_18,pct_Vacant_Units_CEN_2010
0,"71,487.13",NaN,539.0,2065.0,1729.0,52164.0,967.0,6900.0,186.0,596.0,...,90.17,0.23,15.05,100.0,0.0,0.26,14.28,0.48,13.28,9.83
1,"36,721.79",NaN,1291.0,14584.0,2627.0,123083.0,2047.0,35274.0,1665.0,30587.0,...,91.66,0.16,14.27,100.0,0.0,0.21,21.91,0.21,8.20,8.34
2,"34,158.60",NaN,854.0,4172.0,681.0,3923.0,785.0,8172.0,103.0,302.0,...,94.44,0.27,16.33,100.0,0.0,0.25,17.42,0.20,5.14,5.56
3,"21,182.50",NaN,803.0,6328.0,3228.0,145247.0,1079.0,12411.0,264.0,1585.0,...,93.41,0.15,13.60,100.0,0.0,0.23,27.15,0.24,8.94,6.59
4,"18,557.77",NaN,269.0,828.0,2509.0,95317.0,203.0,911.0,128.0,389.0,...,91.74,0.24,14.94,100.0,0.0,0.35,21.60,0.42,8.71,8.26
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
83,NaN,OH,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
84,NaN,OH,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
85,NaN,OH,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
86,NaN,OH,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
87,NaN,OH,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [31]:
combined_df = pd.merge(ACS_df, Traindata_df, how="right", on=["County_name", "County Name"])
combined_df()

KeyError: 'County_name'